# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/

# Logs
*.log
